<div class="govuk-width-container">
    @if (IsSectionDefined("AppNavBar"))
    {
        <div class="CompositeUI-ChildRegion">
            @RenderSection("AppNavBar", required: false)
        </div>
    }

    @if (IsSectionDefined("Breadcrumbs"))
    {
        <div class="CompositeUI-ChildRegion">
            @RenderSection("Breadcrumbs", required: false)
        </div>
    }
    @if (IsSectionDefined("Personalisation"))
    {
        if (User.Identity.IsAuthenticated)
        {
            <div class="CompositeUI-ChildRegion">
                @RenderSection("Personalisation", required: false)
            </div>
        }
        else
        {
            IgnoreSection("Personalisation");
        }
    }

    @if (IsSectionDefined("BackButton"))
    {
        <div class="CompositeUI-ChildRegion">
            @RenderSection("BackButton", required: false)
        </div>
    }

    <partial name="_ErrorSummary" />

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
            @if (IsSectionDefined("AppSideBar"))
            {
                <div class="CompositeUI-ChildRegion">
                    @RenderSection("AppSideBar", required: false)
                </div>
            }
        </div>

        <div class="govuk-grid-column-two-thirds">
            @if (IsSectionDefined("Application"))
            {
                <div class="CompositeUI-ChildRegion CompositeUI-ChildRegionScrollX">
                    @RenderSection("Application", required: false)
                </div>
            }
        </div>

    </div>

</div>
